* {
  padding: 0;
  margin: 0;
}

#card-1 {
  background-image: url(./card_image_1.jpeg);
}

#card-2 {
  background-image: url(./card_image_2.jpeg);
}

#card-3 {
  background-image: url(./card_image_3.jpeg);
}

#card-4 {
  background-image: url(./card_image_4.jpeg);
}

.blog__main-container {
  position: relative;
}

.blog__a {
  text-decoration: none;
  color: inherit;
}

.blog__block {
  max-width: 1412px;
  padding: 0 32px 0 32px;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.blog__card {
  min-width: 313px;
  max-width: 315px;
  border: 1px solid #e5e5e5;
  margin-right: 24px;
}

.blog__card--top {
  height: 208px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog__card--bottom {
  padding: 25px 29px;
}

.blog__card--bottom-tag {
  font: 15px/25px Montserrat,Arial,sans-serif;
  font-size: .8em;
  line-height: calc(1em + 7px);
  padding: 2px 7px 3px;
  margin: 0 2px 4px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 9px;
  color: #666;
}

.blog__card--bottom-header {
  font-size: 1.06667em;
  line-height: calc(1em + 7px);
  font-weight: 700;
  font-family: "Montserrat", Arial, sans-serif;
}

.blog__card--bottom-date {
  font: 15px/25px Montserrat,Arial,sans-serif;
  font-size: .86667em;
  line-height: calc(1em + 7px);
  margin-top: 19px;
  color: #999;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 1412px;
}

.blog__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  height: 408px;
  width: 100%;
}

.blog__buttons-left {
  background-image: url(arrow-left.png);
  visibility: hidden;
  width: 54px;
  height: 55px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.blog__buttons-right {
  background-image: url(arrow-right.png);
  visibility: hidden;
  width: 54px;
  height: 55px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.blog__buttons-flexcenter {
  overflow-x: hidden;
  max-width: 1412px;
  -webkit-box-flex: 0.97;
      -ms-flex-positive: 0.97;
          flex-grow: 0.97;
}

.blog__buttons-flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}
/*# sourceMappingURL=component_style.css.map */